
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    letter-spacing: 0 !important;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

/*==============================================*/
/*                                   pre-loader start ===============================================*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: #fff;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0683ff;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fa057f;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #06c4ff;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*==============================================*/
/*                                   pre-loader End ===============================================*/

.homeHeader {
    min-height: 100vh !important;
    height: 100vh;
    padding: 0 !important;

}

.homeHeader .typed-cursor {
    display: none;
}

.homeHeader .animated-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;
    height: 17px;

}

.a-product {
    display: block;
    position: relative;
    width: 100%;
    height: 450px

}


/*// View Header*/
.nav_item_custom li a {
    color: #06C4FF !important;
    font-family: 'Oswald', sans-serif !important;
    font-size: 20px !important;
    position: relative;
    padding: 10px;
    font-weight: 600;
    margin: 0 15px;


}

.nav_item_custom li a::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #06C4FF;
    visibility: hidden;
}

.nav_item_custom li a:hover::after {
    visibility: visible;
}

.shrink-nav {
    background: rgba(0, 10, 42) !important;
}

.navbar button {
    margin-right: 50px;
}

.header_text_custom {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 44px;
    /*background: -webkit-linear-gradient(90deg, #06c4ff, #0683ff 35%, #fa057f);*/
    background: -webkit-linear-gradient(#06c4ff, #0683ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.5;
    margin-top: 60px;
    padding: 120px 0 0 0;
    text-transform: capitalize;
}

.header_2d {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    color: #FFFFFF;
    padding: 30px 0;
    text-transform: capitalize;

}

.btn-mt-20 {
    margin-top: 30px;
}

.section_bg_color_custom {
    background: #000A2A !important;
}

.gradiant_button_custom {
    width: 233px;
    max-width: 233px;
    background: linear-gradient(90deg, #06c4ff, #0683ff 35%, #fa057f);
);
    border-radius: 15px;
    border: none;
    font-family: 'Oswald', sans-serif;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    line-height: 1.5 !important;
}

.startBtn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gradiant_button_custom:hover {
    border: none;
    color: white !important;
}


.video_background_custom {
    background: rgba(0, 10, 42, 0.5);
    background-size: cover;
}

.cover_bg {
    background: #FFFFFF;
}

.block_2 {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    /*background: url("/img/block2.png") no-repeat;*/
}

.block_2_title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 44px;
    color: #06C4FF;
    line-height: 1.5;
    text-align: center;

}

.ifameBtn {
    width: 150px;
    max-width: 150px;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%)

}

.block_2_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #000A2A;
    margin-top: 20px;
    text-align: center;
}

.block_3 {
    margin-top: 0;
    padding: 70px 0;
    background: #000A2A;
}

.block_3_title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 44px;
    color: #06C4FF;
    margin: 20px 20px 40px 20px;
    letter-spacing: 0;
    text-transform: capitalize;


}

.block_3_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: white;

}

.section_title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #06c4ff;
    margin: 30px 0;
    font-size: 44px;
    position: relative;
    text-transform: capitalize;
    letter-spacing: 0;
    text-align: center;

}


.block_4_content_title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #06c4ff;
    margin: 20px 0;
    text-align: left;
    text-transform: capitalize;
}


.block_4_content_text_p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #000A2A;
    margin-bottom: 20px;
    text-align: left;
    letter-spacing: normal;
    margin-top: 10px;
}

.block_5 {
    background: #000A2A;
    padding: 80px 0;
}

.block_5_img img {
    width: 100px;
    height: 100px;
}

.block_5_slider_title {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: #06c4ff;
    font-size: 35px;
    text-transform: capitalize;
}

.block_5_slider_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #FFFFFF;
    text-transform: capitalize;
}


.block_7_box_title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #06c4ff;
    font-size: 35px;
    text-transform: capitalize !important;
}

.block_8_input {
    position: relative;
    margin-top: 20px;

}

.block_8_input input {
    border-radius: 40px;
    padding: 10px 15px;
    border: none;

}

.block_8_input input:focus {
    outline: none;
}

.block_8_input i {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    color: #06c4ff;
    font-size: 20px;
    cursor: pointer;
}


/*// viewz center aling//*/
.view_center_align_custom {
    text-align: center;
    background: #000A2A;
    color: #FFFFFF;
}

/*// viewz Service//*/


.p-40 {
    padding: 0 40px !important;
}

.benefitContent {
    display: flex;
    padding: 50px 0;
    align-items: center;
    justify-content: center;
}


.benefitContentItem {
    width: 100%;
    text-align: left;
    margin: 50px 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000A2A;
    border-left: 1px solid #06C4FF;
    padding-left: 20px;


}

.topBorderLeftRadius {
    border-top-left-radius: 30px;
}

.topBorderRightRadius {
    border-top-right-radius: 30px;
}

.borderTop5 {
    border-top: 5px solid #ffffff;
}


.pricingContent {
    background: #000A2A;
    color: #FFFFFF;
    padding: 120px 0;
}

.pricing {
    margin-top: 50px;
}

.price_box_custom {
    transition: 0.4s;
    height: 100%;

}

.pricing-box {
    background: linear-gradient(0deg, #06c4ff, rgba(6, 196, 255, 0.05) 75%, #000A2A);
}

.pricing-price {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
}

.pricing-title {
    background: transparent;
}

.pricing-box:hover .block_7_box_title {
    color: #fa057f;
}

.pricing-price::after {
    border-top: 2px solid #06c4ff;
}

.price-tenure {
    color: #FFFFFF;
}

.price_box_custom:hover {
    background: #000A2A;
}

#ques {
    padding: 120px 0;
}

.accordion {
    margin-top: 50px;
}

.accordion .accordion-item {
    border-top: 1px solid #06c4ff;
    border-bottom: 1px solid #06c4ff;
    border-right: none;
    border-left: none;
    /*box-shadow: 5px 5px 24px -17px #000A2A;*/
    margin-bottom: 20px;
    padding: 0 30px;
}

.accordion-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: black;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}


.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 25px;
    height: 25px;
    color: #ffffff;
    background: #06c4ff;
    border-radius: 50%;

}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 10px;
    height: 3px;
    background: currentColor;
    transform: translate(-50%, -50%);
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 3px;
    height: 10px;
    background: currentColor;
    transform: translate(-50%, -50%);
}

.accordion button[aria-expanded='true'] .icon::after {
    width: 0;
}

.accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: opacity 200ms linear, max-height 200ms linear;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 30px;
    text-align: justify;
}


.fqe {
    padding: 20px 0;
}

.fqe h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.5;
    text-transform: capitalize;

}

.fqe .row {
    display: flex;
    align-items: center;
}

.price_box_custom:hover .pricing-price::after {
    border-top: 2px solid #fa057f;
}

.price_box_custom:hover .pricing-features ul li {
    color: #FFFFFF;
}

.pricing-box:hover {
    background: linear-gradient(0deg, #fa057f, rgba(250, 5, 127, 0.05) 75%, #000A2A);
    border-color: #fa057f;
}

.pricing-box:hover .pricing-title {
    border-color: #fa057f;
}

.pricing-action {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.price_box_custom:hover .pricing-action a {
    min-width: 161px;
    background: #fa057f;
    border-radius: 25px;
    border: none;
    font-family: 'Oswald', sans-serif;
    color: white;
}


.blue_btn_custom {
    min-width: 161px;
    background: #06C4FF;
    border-radius: 25px;
    display: inline-block;
    max-width: 170px;
    text-align: center;
    border-color: transparent;
    color: #FFFFFF;
}

.blue_btn_custom:hover {
    color: #FFFFFF;
}


.section_border_radius_custom {
    border-radius: 15px;
    overflow: hidden;
}

.section_price_custom::after {
    background: #06C4FF;
}

.section_price_custom_border {
    border: 1px solid #06C4FF;
}

.p-5 {
    padding: 5px;
}

.pricing-title {
    border-bottom-color: #06C4FF;
}

.viewz_icon_color {
    color: #06C4FF;
}

.viewz_fqe_border_colour {
    border-color: #06C4FF;
}

.pull-right i {
    color: #06C4FF;
}

i {
    color: #06C4FF;
}

.small-icon {
    color: #06C4FF !important;
}


footer {


    background-size: cover;
    color: #FFFFFF;
}

.lightFont {
    color: #06C4FF !important;
}

.img-border-small-fix {
    /*border-color: #06C4FF !important;*/
    border: none;
}

.footer-link3 li a, .footer-link2 li a, .footer-link4 li a {
    color: white !important;
}

hr {
    border-color: #06C4FF;
}

.wide-separator-line {
    background: #06C4FF !important;
}


.cd-words-wrapper::after {
    width: 0 !important;
}


.footer-social a {
    margin: 0 8px;
}

/*// video style*/
.videoStyle {

    margin: 0 auto;
    box-sizing: border-box;
    outline: none;
    border: none;
    max-width: 600px;


}

.block_4_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
}

.block_4_video {
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallDeviceVideo {
    display: none;
    margin: 20px 0;
}

.smallBenefitContent {
    display: none;
}


/*.mt5{*/
/*    margin-top: 5px !important;*/
/*}*/
/*// about page custom css/*/
nav .nav_item_custom .nav-link {

}

.about_nav li a:hover {
    border-bottom-color: #06C4FF !important;
}

#about_header {
    padding: 120px 0 120px 0;
    background: #FFFFFF;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;


}

#about_header .h1Solid {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.5;
    color: #06C4FF;
    text-align: center;
    text-transform: capitalize;
}


.aboutHeaderImg {
    max-width: 996px;
    /*max-height: 500px;*/
    object-fit: cover;
    margin: 60px auto 0 auto;
    padding: 0 100px;

}

.aboutBtn {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 50px;
    z-index: 1;
    cursor: pointer;
}


.headerLay {

    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: inset 10px -100px 40px -37px rgba(0, 10, 42, 0.5);
    z-index: 1;

}


#about_viewz {
    padding: 80px 0;
    width: 100%;
    background: url('../img/SVG/abouViewz.svg') no-repeat;
    background-size: cover;


}


.about_viewz_Content_Title h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.5;
    color: #06C4FF;
    text-align: justify;
    padding-bottom: 30px;
    text-transform: none;
}

.about_viewz_Content_Title h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    color: #06C4FF;
    text-align: justify;
    text-transform: capitalize;
}

.about_viewz_Content_Title p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: rgba(239, 248, 255, 0.9);
    text-align: justify;
    margin-top: 20px;
    text-transform: none;

}

.aboutSmallImg {
    display: none;
    margin: 0 auto;
}

.smallDeviceContent {
    display: none;
}


#about_3rd_block {
    padding: 120px 0;
}

#about_3rd_block .fstRow .fstRowTitle h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.5;
    color: #06C4FF;
    text-align: left;
    margin-top: 20px;
    text-transform: uppercase;
}

.scroll-down {
    cursor: pointer;
}

.scroll-down img {
    width: 30px;
}

#about_3rd_block .fstRow {
    position: relative;
    padding-left: 20px;
}

#about_3rd_block .fstRow::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 305px;
    background: #06c4ff;
}

#about_3rd_block .sndRow {

    margin-top: 100px;
}

#about_3rd_block .sndRow .sndRowImg {
    object-fit: cover;
}

#about_3rd_block .sndRow .sndRowImg img {
    max-width: 551px;
    width: 100%;
}

#about_3rd_block .sndRow .sndRowContent {
    padding: 50px;
    text-align: justify;

}

#about_3rd_block .sndRow .sndRowContent p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #000A2A;
    text-align: justify;
    margin-top: 30px;
    text-transform: none;
}

#about_3rd_block .headRow h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.5;
    color: #06C4FF;
    text-align: left;

}

.headRow {
    border-left: 3px solid #06c4ff;
    padding: 20px;
    margin: 10px 0;

}

#about_3rd_block .thrdRow {
    padding: 30px;
}

#about_3rd_block .thrdRow .headRow {
    width: 50%;
    padding-left: 100px;
}

#about_3rd_block .thrdRow p {
    width: 50%;
}

#about_3rd_block .headRow h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.5;
    color: #000A2A;
    text-align: left;
    margin-top: 10px;
}

#about_3rd_block .thrdRow p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #000A2A;
    text-align: justify;
    margin-top: 30px;
    text-transform: none;
    padding: 0 50px;
}


#viewz_solution {
    padding: 80px 0;
    background: url('../img/SVG/abouViewz.svg') no-repeat;
    background-size: cover;


}


#viewz_solution .item {

    padding: 50px 50px 100px 50px;


}


#viewz_solution .itemIcon {
    padding: 10px 10px 50px 10px;

    max-width: 80px;
    height: 120px;
    position: relative;


}

#viewz_solution .itemIcon img {
    width: 50px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#viewz_solution .sndRow .itemText {
    width: 80%;
    padding: 50px 10px;
}

#viewz_solution .itemContentText h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    color: #06c4ff;
    text-align: left;
    position: relative;
    display: inline-block;
    margin: 20px 0;
    text-transform: none;
}

#viewz_solution .itemContentText h3::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 3px;
    background: #FFFFFF;
    bottom: -10px;
    left: 0;

}

#viewz_solution .itemContentRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#viewz_solution .itemContentText p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #FFFFFF;
    text-align: justify;
    margin-top: 15px;
    text-transform: none;
}

#viewz_solution .itemImg img {
    width: 100%;
    max-width: 500px;
    border-radius: 50px;
    margin-top: 120px;

}

#viewz_solution .thrdRowBtn {
    padding: 10px 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    background: #06c4ff;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
    min-width: 250px;
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#viewz_partner {
    padding: 80px 0;
    background: #fafafa;
}


#viewz_partner .sndRow .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-top: 30px;

}

#viewz_partner .sndRow .item {
    width: 20%;
    padding: 10px;
    text-align: center;
}

.aboutDeviceImg {
    display: none;
    max-width: 350px;
    margin: 30px auto 0 auto;

}

.itemSmallDeviceImg {
    display: none;
    padding: 30px 0;
    margin: 0 auto;

}

#viewz_partner .sndRow .item img {
    min-width: 100px;
    max-width: 150px;
    height: 100%;
}

.footerLinkSection .lightFont {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    text-transform: none;
}

.footerLinkSection .footer-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    text-transform: none;
    line-height: 1.5;
}


.footerLinkSection a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    text-transform: capitalize;
    line-height: 2;
}


.copyright {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    text-transform: capitalize;
    color: #FFFFFF;
}

.footer-logo {
    max-width: 122px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLastRow {
    padding: 10px 0 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

footer h5 {
    margin-bottom: 0;
}

.footerSocial {
    display: flex;
    justify-content: end;
    align-items: center;

}

.footerSocial h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    text-transform: none;
    color: #FFFFFF;
}

.footerSocial li {
    display: inline-block;
    margin: 0 10px;
}

.footerSocial li a {
    font-size: 20px;
    color: #fff;
}

.footer-bottom {
    top: 0;
}

/*.parallaxSection{*/
/*    background-attachment: fixed;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    height: 100vh;*/
/*    width: 100%;*/
/*    color: #FFFFFF;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*.parallaxBackgroundImg{*/
/*    background-image: url("../images/parallax-img6.jpg");*/
/*}*/
.show {
    display: block;
    background: #000A2A !important;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-right: 0 !important;
}

.socialSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.carousel-control-prev, .carousel-control-next {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


#blogMain {
    padding: 80px 0;

}

#blogMain .separator-line {
    background: #06c4ff;

}

#blogMain .blog-title a {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 700;
    font-size: 16px !important;
    line-height: 1.5;
    color: #06C4FF !important;
    text-align: left;
}

#blogMain .blog-short-description {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 500;
    font-size: 16px !important;
    line-height: 1.5;
    color: #000A2A;
    text-align: left;
}

#blogMain .blog-date, #blogMain .blog-date a {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.5;
    color: #000A2A;
    text-align: left;
}

#blogMain a {
    color: #000A2A !important;
    font-family: 'Open Sans', sans-serif !important;
}

#blogMain .pagination {
    width: 0;
}

.paginationBlog a {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: #000A2A;
    text-align: left;
    margin: 0 10px;
    cursor: pointer;
    padding: 5px 10px;
}

#blog-single {
    padding: 120px 0;

}

#blog-single .blog-details-headline {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    color: #06C4FF;
    text-align: left;
}

.bg-darkBlue {
    background: #000A2A !important;
}

#blog-single a {
    color: #000A2A !important;
    font-family: 'Open Sans', sans-serif !important;
}

#blog-single .blog-details-text p:nth-child(1) {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    color: #000A2A;
    text-align: left;
}

#blog-single .blog-details-text p {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000A2A;
    text-align: left;
}

.fqeBtn {
    min-width: 150px !important;
    height: 100%;

}

.fqeBtn i {
    font-size: 30px;
    margin-right: 20px;
    color: #06c4ff !important;
}

/*// supportPage css //*/
#supportHeader {
    width: 100%;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 0;

}

#supportHeaderBanner {
    padding: 120px 0;
    /*background: rgba(0, 10, 42, 0.4);*/
    /*backdrop-filter: blur(5px) !important;*/
    width: 100%;
    text-align: center;
    height: 100vh;
}

.supportNav {
    background: rgba(0, 10, 42, 1);
    /*backdrop-filter: blur(5px);*/
}

#supportHeaderBanner h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.5;
    color: #06C4FF;
    text-align: center;
    display: inline-block;
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    margin: 60px auto;
    border-radius: 35px;
    text-transform: capitalize;

}

#supportHeaderBanner h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: #06c4ff;
    text-align: center;
    margin: 60px auto;
    text-transform: capitalize;


}


#support_block_two {
    padding: 80px 0;

}

#support_block_two .smallItemImage {
    display: none;
    width: 100%;
    max-width: 600px;
}

#support_block_two .item {
    padding: 60px 0;
}

#support_block_two .itemContent h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.5;
    color: #06c4ff;
    text-align: left;
    margin-bottom: 20px;
    text-transform: capitalize;
}

#support_block_two .itemContent h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: #000A2A;
    text-align: justify;
    margin-bottom: 20px;
    text-transform: capitalize;
}

#support_block_two .itemContent p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #000A2A;
    text-align: justify;
    margin-top: 15px;
}

#support_block_two .itemImage {
    width: 100%;
    max-width: 600px;
}

#viewz_tutorials {
    padding: 80px 0;
    background: #000A2A;
}


#viewz_tutorials .item {
    margin: 30px 0;
}

#viewz_tutorials .itemContent {
    padding: 120px 0;
    background: #06c4ff;
    position: relative;
    border-radius: 20px;
    width: 100%;
}

#viewz_tutorials .itemContent .itemImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#viewz_tutorials .itemText h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
    text-transform: capitalize;
}

#customerSupport {
    padding: 80px 0;

}


#customerSupport .itemContent p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000A2A;
    text-align: justify;
    margin-top: 15px;
}

#customerSupport .itemImage {
    width: 100%;
    max-width: 551px;
}

#support_block_two .smallItemImage {
    display: none;
    width: 100%;
    max-width: 551px;
}


/*// contact us css//*/
/*#contact_us_header {*/
/*    padding: 120px 0;*/
/*    height: 100vh;*/
/*    background: url('/img/SVG/contact_bg.svg') no-repeat;*/
/*    background-size: cover*/

/*}*/

/*#contact_us_banner h1 {*/
/*    font-family: 'Oswald', sans-serif;*/
/*    font-weight: 700;*/
/*    font-size: 55px;*/
/*    line-height: 1.5;*/
/*    color: #06C4FF;*/
/*    text-align: center;*/
/*    padding: 120px 0 60px 0;*/


/*}*/

/*.ctaBtns {*/
/*    flex-wrap: wrap;*/
/*}*/

/*.headerSubContent {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.headerSubContent h3 {*/
/*    font-family: 'Oswald', sans-serif;*/
/*    font-weight: 700;*/
/*    font-size: 32px;*/
/*    line-height: 1.5;*/
/*    color: #FFFFFF;*/
/*    text-align: center;*/
/*    padding: 0 15px;*/
/*    text-transform: capitalize;*/
/*}*/

/*#contact_us_header .headerBtn {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    margin: 60px auto;*/
/*    font-family: 'Oswald', sans-serif;*/
/*    font-weight: 600;*/
/*    font-size: 25px;*/
/*    line-height: 1.5;*/
/*    color: #FFFFFF;*/
/*    text-align: center;*/
/*    text-transform: capitalize;*/
/*    background: #06c4ff;*/
/*    padding: 15px 20px;*/
/*    border-radius: 15px;*/
/*    min-width: 336px;*/


/*}*/

/*#contact_form {*/
/*    padding: 120px 0;*/
/*}*/

/*#contact_form .contact_form_text h3 {*/
/*    font-family: 'Oswald', sans-serif;*/
/*    font-weight: 700;*/
/*    font-size: 32px;*/
/*    line-height: 1.5;*/
/*    color: #000A2A;*/
/*    text-align: left;*/
/*    padding: 0 15px 30px 0;*/
/*    text-transform: capitalize;*/
/*    width: 90%;*/
/*    margin: 0 auto;*/
/*}*/

/*#contact_form .contact_form_text p {*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    font-weight: 400;*/
/*    font-size: 25px;*/
/*    line-height: 1.5;*/
/*    color: #000A2A;*/
/*    text-align: justify;*/
/*    padding: 0 15px 30px 0;*/
/*    width: 90%;*/
/*    margin: 0 auto;*/
/*}*/

/*#contact_form .contact_form_input {*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    font-weight: 400;*/
/*    font-size: 18px;*/
/*    line-height: 1.5;*/
/*    border-radius: 25px;*/
/*    width: 90%;*/
/*    margin: 20px auto;*/
/*    padding: 10px 20px;*/
/*    text-transform: capitalize;*/
/*}*/

/*#contact_form .contact_form_btn {*/
/*    font-family: 'Oswald', sans-serif;*/
/*    font-weight: 600;*/
/*    font-size: 25px;*/
/*    line-height: 1.5;*/
/*    color: #FFFFFF;*/
/*    text-align: center;*/
/*    text-transform: capitalize;*/
/*    background: #06c4ff;*/
/*    padding: 15px 20px;*/
/*    border-radius: 25px;*/
/*    min-width: 336px;*/
/*    width: 90%;*/
/*    margin: 20px auto;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*// blog part custom css //*/
.blog-image {
    border-radius: 20px !important;
}

#blogMain .blog-short-description {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #000A2A;
    text-align: justify;
    padding: 0 15px 30px 0;
}

#blogMain .blog-title a {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    padding: 0 15px 30px 0;
    text-transform: capitalize;
}

#customerSupport .smallItemImage {
    display: none;
}

/*// legal Page //*/
#legal {
    padding: 85px 0;

}

#legalTitle h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 35px;
    line-height: 1.5;
    color: #06C4FF;
    text-align: Left;
    text-transform: capitalize;


}

#legalTitle {
    padding: 15px 50px;
    box-shadow: 1px 14px 25px -14px rgba(0, 10, 42, 0.3);
    -webkit-box-shadow: 1px 14px 25px -14px rgba(0, 10, 42, 0.3);
    -moz-box-shadow: 1px 14px 25px -14px rgba(0, 10, 42, 0.3);
    z-index: 222;
    position: fixed;
    width: 100%;
    background: #FFFFFF;
    top: 85px;


}


#LegalContent {
    padding: 70px 50px;
    z-index: 1;
}

.legalTabItems {
    position: fixed;
    z-index: 111;
}


.legalTabItems .tab {
    padding: 30px 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: #000A2A;
    text-align: left;
    text-transform: capitalize;
    border-bottom: 1px solid #000A2A;
    cursor: pointer;

}

.legalTabItems .tab:nth-last-child(1) {
    border-bottom: none;
}

.legalTabContents .tab_content {

    display: none;
    padding: 30px
}

.legalTabContents .tab_content .tab_content_title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.5;
    color: #000A2A;
    text-align: left;
    text-transform: Uppercase;
    border-bottom: 3px solid #000A2A;
    display: inline-block;
    margin: 0 auto;
}

.tabActive {
    display: block !important;
}

.tabItemActive {
    font-weight: 700 !important;
}

.legalTabContents .tab_content p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #000A2A;
    text-align: justify;
    text-transform: none;
    margin: 30px 0;

}

.legalTabContents .tab_content a {
    color: blue;
    text-decoration: underline
}

.privacyTable .tableCard {
    margin: 0 auto;
    border: 1px solid #000A2A;
}

.privacyTable .tableCard .tableCardHeader {
    padding: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: #000A2A;
    text-align: center;
    background: rgba(97, 176, 88, 0.3);
}

.privacyTable .tableItemRow {

    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #000A2A;
    text-align: justify;
    text-transform: none;
    border-bottom: 1px solid #000A2A;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 50px;
    height: 100%;
}

.privacyTable .tableItemRow:nth-last-child(1) {
    border-bottom: none !important;
}

.privacyTable .tableItemRow .num {
    width: 15%;
    padding: 0 20px;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.privacyTable .tableItemRow .num::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: #000A2A;
}

.privacyTable .tableItemRow .text {
    width: 85%;
    padding: 0 20px;
}

.legalIcon {
    font-size: 35px;
    cursor: pointer;
    display: none;
}

.legalTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#legal .show {
    position: fixed;
    top: 130px;
    padding: 30px 0;
    z-index: 222;
}

/*// error page css //*/
#error-404 {
    padding: 120px 0;
    height: 100vh;
    width: 100%;
    background: #000A2A;
}

.errorContent {
    width: 100%;
    height: 100%;
    position: relative;
}

.errorContent img {
    max-width: 879px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.errorContent a {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
}

/*// price toogle btn css //*/
.toggle_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #06C4FF;
    border-radius: 30px;
    margin: 30px auto;
    max-width: 250px;


}

.toggle_btn button {
    width: 50%;
    height: 50px;
    border: none;
    background: transparent;
    color: #06C4FF;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    /*border-radius: 30px;*/

}

.price_month {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.price_annual {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}


.plan_title {
    font-size: 18px;
    font-weight: 700;
    color: #06C4FF;
    text-align: center;
    margin: 30px 0;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;

}

.plan_ar, .plan_price {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin: 30px 0;
    font-family: 'Oswald', sans-serif;

}

.plan_content {
    position: relative;


}

.plan_content:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 1px;
    background: #06c4ff;

}

.plan_ex {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin: 30px 0;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 5px;
}

.price_box_custom:hover .plan_title {
    color: #ff0084;
}

.price_box_custom:hover .plan_content:after {
    background: #ff0084;
}

.blueOutlineBtn {
    background: transparent;
    border: 1px solid #06C4FF;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    min-width: 253px;
    line-height: 1.5;


}

.blueOutlineBtn:hover {
    background: #06C4FF;
    color: #000A2A;
}

.pricing-title h3 {
    font-size: 35px;
}

.font_30 {
    font-size: 30px;
}

.mt_10 {
    margin-top: 10px;
}

/*// custom contact page css //*/
#contact_main {
    min-height: 100vh;
    height: 100%;


}



.contact_row {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    padding: 120px 0;

}


.contact_form_title h2 {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.5;
    color: #000A2A;
    text-align: left;
    margin: 10px 0;
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
}

.contact_form_title p {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: #000A2A;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

.contact_form_input {

    border-radius: 15px !important;
    border: 1px solid rgba(42, 42, 42, 0.4);
}

.contact_form_input::placeholder {
    color: rgba(42, 42, 42, 0.4);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

.contact_form_input:focus {
    outline: none;
}

.contact_form_btn {
    background: #06C4FF;
    border-radius: 25px;
    font-family: 'open sans', sans-serif;
    color: #FFFFFF;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    min-width: 90%;
    line-height: 1.5;
    border: none;
    outline: none;
    transition: 0.4s;

}

.contact_form_btn:hover {
    background: #0c63e4;

}

.contact_content_item {
    padding: 20px 0;
}

.contact_content_item_title h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.5;
    color: #000A2A;
    text-align: left;
    margin: 10px 0;
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
}

.contact_content_item_content a {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: #000A2A;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    text-transform: lowercase;
    text-decoration: underline;
    transition: 0.4s;
}

.contact_content_item_content a:hover {
    color: #06C4FF;
}

.contact_content_item_content p {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: #000A2A;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

.footer_link_title_span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #06c4ff;
    text-align: center
}

.footer_link_title_span i {
    font-size: 15px;
}

footer .footer-middle {
    padding: 20px 0;
}

.wide-separator-line {
    margin: 10px 0;
}