@font-face {
    font-family: 'Source Serif Pro';
    src: url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,500,600,700');
}

@font-face {
    font-family: 'Nunito';
    src: url('https://fonts.googleapis.com/css?family=Nunito:400,500,600,700');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.a-product {
    display: block;
    position: relative;
    width: 100% !important;
    height: 100% !important;
    max-height: 350px !important;
    min-height: 350px !important;
}

.try-spc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.5s ease;
}

.a-product:hover .try-spc {
    transform: translate(-50%, -50%) scale(1);

}

/*// View Header*/
.nav_item_custom li a {
    color: #06C4FF !important;

}

.shop_cart_custom a, .shop_cart_custom i, .shop_cart_custom div {
    color: #06C4FF !important;
}

.header_search-form_custom i {
    color: #06C4FF !important;
}

.header_text_custom {
    font-family: 'Nunito', serif !important;
    font-weight: 700;
    font-size: 32px !important;
    /*background: -webkit-linear-gradient(90deg, #06c4ff, #0683ff 35%, #fa057f);*/
    background: -webkit-linear-gradient(#06c4ff, #0683ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header_2d {
    font-family: 'Nunito', serif !important;
    font-weight: 400;
    font-size: 18px !important;

}

.typeEffect i {
    font-family: "Source Serif Pro", serif !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff !important;
    text-align: center;
}

.btn-mt-20 {
    margin-top: 30px;
}

.section_bg_color_custom {
    background: #000A2A !important;
}

.gradiant_button_custom {
    min-width: 161px;
    background: linear-gradient(90deg, #0614ff, #0683ff, #fa057f) !important;
    border-radius: 25px !important;
    border: none;
    font-family: 'Nunito', serif;
}

.gradiant_button_custom:hover {
    border: none;
    color: white;
}

.scroll_down_custom {
    background: #06C4FF !important;
    border-radius: 50%;
    color: #fff !important;
}

.video_background_custom {
    background: rgba(0, 10, 42, 0.5) !important;
    background-size: cover;
}

.cover_bg {
    background: #e8f6fe !important;
}

.block_2 {
    display: flex;
    justify-content: space-between;
}

.block_2_title {
    font-family: 'Nunito', serif !important;
    font-weight: 700;
    font-size: 40px !important;
    color: #06C4FF;
    line-height: 1;

}

.block_2_text {
    font-family: "Source Serif Pro", serif !important;
    font-size: 25px;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #000A2A !important;
    margin-top: 10px;
}

.block_3_title {
    font-family: 'Nunito', serif !important;
    font-weight: 700 !important;
    font-size: 50px !important;
    color: #06C4FF !important;
    margin-top: 20px;
}

.block_3_text {
    font-family: "Source Serif Pro", serif !important;
    font-size: 25px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: white !important;
}

.block_4_title {
    font-family: 'Nunito', serif !important;
    font-weight: 700 !important;
    color: #06c4ff !important;
    margin-top: 20px;
    font-size: 40px !important;
    position: relative;
}

.block_4_title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background: #06c4ff;
}

.block_4_content_title {
    font-family: 'Nunito', serif !important;
    font-weight: 700;
    font-size: 40px !important;
    color: #06c4ff !important;
    margin-top: 20px;
    text-align: left;
}

.block_4_content_text_title {
    font-family: 'Nunito', serif !important;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    color: #000 !important;
    text-align: left;
}

.block_4_content_text_p {
    font-family: "Source Serif Pro", serif !important;
    font-size: 25px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #000A2A !important;
    margin-bottom: 20px;
}

.block_4_content_media_number {
    font-family: "Source Serif Pro", serif !important;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.5;
    color: #06c4ff !important;
}

.block_4_content_media_title {
    font-family: 'Nunito', serif !important;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.5;
    color: #FFFFFF !important;
}

.block_5 {
    background: #000A2A !important;
}

.block_5_img img {
    width: 100px;
    height: 100px;
}

.block_5_slider_title {
    font-family: 'Nunito', serif !important;
    font-weight: 600;
    color: #06c4ff !important;
    font-size: 24px !important;
}

.block_5_slider_text {
    font-family: "Source Serif Pro", serif !important;
    font-size: 20px;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #FFFFFF !important;
    text-transform: capitalize;
}

.block_7_box_title {
    font-family: 'Nunito', serif !important;
    font-weight: 700;
    color: #06c4ff !important;
    font-size: 20px !important;
}

.block_8_input {
    position: relative;
    margin-top: 20px;
}

.block_8_input input {
    border-radius: 40px !important;
    padding: 10px 15px !important;
}

.block_8_input i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #06c4ff !important;
}

.block_9_question {
    font-family: "Source Serif Pro", serif !important;
    font-size: 14px;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #000A2A !important;
}

/*// viewz center aling//*/
.view_center_align_custom {
    text-align: center !important;
    background: #000A2A !important;
    color: #FFFFFF;
}

/*// viewz Service//*/

.service_border_custom {
    border: 3px solid rgba(6, 131, 255, 0.2) !important;
    border-radius: 15px !important;
}


.p-40 {
    padding: 40px !important;
}

.benefitContent {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

/*.benefitTitle {*/
/*    font-family: 'Nunito' !important;*/
/*    font-weight: 600;*/
/*    color: #06c4ff !important;*/
/*    font-size: 25px !important;*/
/*    margin-bottom: 20px;*/
/*    margin-top: 30px;*/
/*}*/

.benefitContent .items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.benefitContent .item {
    padding: 0 5px;
}

.benefitContent .item i {
    font-size: 20px;
    color: #06c4ff;
}

.benefitContent .item span {
    font-family: 'Nunito', serif !important;
    font-size: 25px !important;
    font-weight: 600;
    color: #000A2A !important;

}

.pricingContent {
    background: #000A2A !important;
    color: #FFFFFF;
}

.price_box_custom {
    transition: 0.4s;
}

.pricing-box {
    background: linear-gradient(0deg, #06c4ff, rgba(6, 196, 255, 0.05) 75%, #000A2A) !important;
}

.pricing-price {
    font-family: 'Nunito', serif !important;
    font-size: 40px !important;
    font-weight: 700;
    color: #FFFFFF !important;
}

.pricing-title {
    background: transparent !important;
}

.pricing-box:hover .block_7_box_title {
    color: #fa057f !important;
}

.pricing-price::after {
    border-top: 2px solid #06c4ff !important;
}

.price-tenure {
    color: #FFFFFF !important;
}

.price_box_custom:hover {
    background: #000A2A !important;
}

.fqe {
    background: linear-gradient(0deg, #000A2A, #000A2A 55%, #06c4ff) !important;
    padding: 100px 0 !important;
}

.fqe h1 {
    font-family: Nunito, serif !important;
    font-weight: 700 !important;
    font-size: 50px !important;
    line-height: 1.5 !important;

}

.fqe .row {
    display: flex;
    align-items: center;
}

.price_box_custom:hover .pricing-price::after {
    border-top: 2px solid #fa057f !important;
}

.price_box_custom:hover .pricing-features ul li {
    color: #FFFFFF !important;
}

.pricing-box:hover {
    background: linear-gradient(0deg, #fa057f, rgba(250, 5, 127, 0.05) 75%, #000A2A) !important;
    border-color: #fa057f !important;
}

.pricing-box:hover .pricing-title {
    border-color: #fa057f !important;
}

.price_box_custom:hover .pricing-action a {
    min-width: 161px;
    background: #fa057f !important;
    border-radius: 25px !important;
    border: none;
    font-family: 'Nunito', serif;
    color: white;
}

.font_color_custom {
    color: #06C4FF !important;
}

.blue_btn_custom {
    min-width: 161px !important;
    background: #06C4FF !important;
    border-radius: 25px !important;
    display: inline-block;
    max-width: 170px;
    text-align: center;
    border-color: transparent !important;
    color: #FFFFFF !important;
}

.blue_btn_custom:hover {
    color: #FFFFFF !important;
}


.section_border_radius_custom {
    border-radius: 15px !important;
    overflow: hidden;
}

.section_price_custom::after {
    background: #06C4FF !important;
}

.section_price_custom_border {
    border: 1px solid #06C4FF !important;
}

.p-2 {
    padding: 5px !important;
}

.pricing-title {
    border-bottom-color: #06C4FF !important;
}

.viewz_icon_color {
    color: #06C4FF !important;
}

.viewz_fqe_border_colour {
    border-color: #06C4FF !important;
}

.pull-right i {
    color: #06C4FF !important;
}

i {
    color: #06C4FF !important;
}

.small-icon {
    color: #06C4FF !important;
}

/*// footer*/
i {
    color: #06C4FF !important;
}

.small-icon {
    color: #06C4FF !important;
}

footer {
    background: #000A2A !important;
    color: #FFFFFF !important;
}

.lightFont {
    color: #06C4FF !important;
}

.img-border-small-fix {
    /*border-color: #06C4FF !important;*/
    border: none;
}

.footer-link3 li a, .footer-link2 li a, .footer-link4 li a {
    color: white !important;
}

hr {
    border-color: #06C4FF !important;
}

.wide-separator-line {
    background: #06C4FF !important;
}

.featureTitle {
    font-size: 21px !important;
}

.featureContent {
    font-size: 10px !important;
    text-transform: capitalize;
}

.cd-words-wrapper::after {
    width: 0 !important;
}


/*// about page custom css/*/
.about_block_2_snd_Header {
    font-family: 'Nunito', serif !important;
    font-weight: 600;
    color: #06c4ff !important;
    font-size: 20px !important;
}

.about_block_2_P {
    font-family: "Source Serif Pro", serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #000A2A !important;
    text-transform: capitalize;
    padding: 5px;
}

.p-mt {
    margin-top: 20px !important;
}

.about_common_header {
    font-family: 'Nunito', serif !important;
    font-weight: 600;
    color: #000A2A !important;
    font-size: 16px !important;
    padding: 5px;
    position: relative;
    display: inline-block;

}

.about_common_header::after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    width: 30px;
    height: 2px;
    transform: translateX(-50%);
    background: #06c4ff !important;
}

.about_block_3_box_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

/*@media screen and (max-width: 425px) {*/
/*    .about_block_3_box_row {*/
/*        flex-wrap: wrap;*/
/*    }*/
/*}*/


.about_block_3_box {
    background: #000A2A;
    border-radius: 15px;
    margin: 5px;
    width: 22%;
}

@media screen and (max-width: 768px) {
    .about_block_3_box {
        width: 40%;
    }
}

@media screen and (max-width: 425px) {
    .about_block_3_box {
        width: 80%;
    }
}

.about_block_3_box_title {
    font-family: 'Nunito', serif !important;
    font-weight: 600;
    color: #06c4ff !important;
    font-size: 16px !important;
    padding: 5px;
    position: relative;
}

.about_block_3_box_p {
    font-family: "Source Serif Pro", serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #FFFFFF !important;
    text-transform: capitalize;
    padding: 5px;
}

.about_block_3_box i {
    font-size: 50px !important;
}

#our-service i {
    font-size: 50px !important;
}

#our-team {
    background: #000A2A !important;
}

#our-team .team-member {
    background: #000A2A !important;
}

/*.prev {*/
/*    display: block;*/
/*    height: 40px;*/
/*    width: 40px;*/
/*    text-align: center;*/
/*    font-size: 30px;*/
/*    line-height: 40px;*/
/*    border-radius: 50%;*/
/*    position: absolute;*/
/*    top: -45px;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    transition: 0.4s;*/

/*}*/

/*.next {*/
/*    display: block;*/
/*    height: 40px;*/
/*    width: 40px;*/
/*    text-align: center;*/
/*    font-size: 30px;*/
/*    line-height: 40px;*/
/*    border-radius: 50%;*/
/*    position: absolute;*/
/*    bottom: -57px;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    transition: 0.4s;*/

/*}*/

/*.slick-slide {*/
/*    outline: none;*/
/*}*/

/*.slick-slide img {*/
/*    display: inline-block;*/
/*}*/

/*// video style*/
.videoStyle {
    /*max-width: 600px;*/
    min-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    outline: none;
    border: none;


}

.block_4_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
}


/*.mt5{*/
/*    margin-top: 5px !important;*/
/*}*/
